@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Inter";
        src: url('../fonts/Inter-Regular.ttf');
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



html{
    font-size: 16px;
   
  
    
}

#vanta{
    width: 100vw;
    height: 100vh;
    
}